extends layout 
block head 
    link(rel="stylesheet", href="stylesheets/categories.css")
    script(src="https://kit.fontawesome.com/abb39a57a2.js" crossorigin="anonymous")

block content
    div.bar
        div.input-wrapper
            input(type="text" class="search-categories" placeholder="search categories" title='disabled for now' disabled )
            i(class="fas fa-search")
        div 
            a(href="/form" class="add-category btn") Add Category     
    div.main 
        .card  
            img(src="/images/plant3.jpeg" alt="plant")
            h3 Flowering plants
            p This is the cateogry's description.
            div.card-btns
                a(href="/categoryDetail" class='card-btn detail') Detail
                //- Here I will have to make it dynamic
                a(href="/itemCreate" class='card-btn') Add items
        .card  
            img(src="/images/plant2.jpeg" alt="plant")
            h3 Shrubs
            p This is the cateogry's description.
            div.card-btns
                a(href="/categoryDetail" class='card-btn detail') Detail
                a(href="#" class='card-btn') Add items
        .card  
            img(src="/images/plant6.jpeg" alt="plant")
            h3 Fruit plants 
            p This is the cateogry's description.
            a(href="#" class="btn") Add items 
        .card  
            img(src="/images/plant4.jpeg" alt="plant")
            h3 plants 
            a(href="#" class="btn") Add items 
        each category in categories 
            .card 
                h3 #{category.name}
                p  #{category.description}
                .card-btns 
                    a(href=`/categoryDetail/${category.id}` class='card-btn detail') Detail
                    //- Here I will have to make it dynamic
                    a(href=`${category.url}/itemCreate` class='card-btn') Add items
