extends layout 
block head 
    link(rel="stylesheet", href="stylesheets/form.css")
block content
    form(action="" method="POST") 
        h1 Create new category
        div.form-group 
            div.form-item
                label(for="categoryName") Category Name
                input(type="text" name="categoryName" id="categoryName" required=true value="") 
            div.form-item
                label(for='categoryDescription') Description
                input(type="text" name='categoryDescription' value="")

        input(type="submit" class="btn")
